/* Global Styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #333;
    overflow: hidden; /* Prevents scrollbars from appearing during animation */
}

body {
    font-family: Arial, sans-serif;
    position: relative;
    background-color: #fff;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    z-index: 1;
}

main {
    padding: 20px;
    position: relative; /* For positioning of other content */
    z-index: 1; /* Ensures content is above the background */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h2 {
    color: #444;
}

/* Animated Wave Background */
@keyframes waveAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.wave, .wave2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
}

.wave {
    background: linear-gradient(45deg, #a3a4fc, #f8e71c); /* Pastel purple and yellow */
    opacity: 0.6;
    animation: waveAnimation 6s linear infinite;
    z-index: 0;
}

.wave2 {
    background: linear-gradient(45deg, #f8e71c, #a3a4fc); /* Reversed gradient for dynamic effect */
    opacity: 0.3;
    animation: waveAnimation 10s linear infinite;
    z-index: 0;
}
